# Python
__pycache__/
*.pyc

# Django
*.log
*.pot
db.sqlite3

# Environment
/venv/
/.env

# Secrets
*-firebase-adminsdk-*.json
firebase-adminsdk*.json

# Node
node_modules/
node_backend/.env

# IDE
.idea/
.vscode/